{% extends "base.html" %}
{% block content %}

<section>
    <div class="flex flex-wrap justify-center p-7 bg-gray-100">

        <!-- HTML Topics Dropdown -->
        {% for p in proj %}
        <div class="relative inline-block ml-5 mt-5 text-left">
            <div>
                <button type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-7 py-5 bg-white text-sm font-medium text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500" id="assignment-{{ p.id }}" aria-expanded="true" aria-haspopup="true">
                    {{ p.title }}
                    <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06 0L10 10.293l3.71-3.08a.75.75 0 111.06 1.06l-4 3.25a.75.75 0 01-1.06 0l-4-3.25a.75.75 0 010-1.06z" clip-rule="evenodd" />
                    </svg>
                </button>
            </div>
            <div class="absolute z-10 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 hidden" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" id="dropdown-{{ p.id }}">
                {% for topic in p.projects.all %}
                <div class="py-1 px-2" role="none">
                    <a href="{{ p.pdf.url }}" download="{{ p.pdf.name }}" class="block px-1 py-1 text-sm text-gray-700 hover:text-blue-600" role="menuitem">{{ topic.project_name }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    
    </div>

</section>

<!-- Script moved after the content -->
<script defer>
    document.addEventListener('DOMContentLoaded', () => {
        {% for p in proj %}
        // Declare variables inside the loop block to avoid redeclaration
        let buttonId = 'assignment-{{ p.id }}';
        let dropdownId = 'dropdown-{{ p.id }}';

        let button = document.getElementById(buttonId);
        let dropdown = document.getElementById(dropdownId);
        
        // Check if the button and dropdown exist
        if (button && dropdown) {
            // Add click event listener
            button.addEventListener('click', () => {
                dropdown.classList.toggle('hidden');
            });
        } 
        {% endfor %}
    });
</script>

{% endblock content %}
